<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bienvenidos a Rubik Sublimaciones../ CONTACTO /..</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="imagenes/favicon.png" type="image/x-icon">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700;800&display=swap" rel="stylesheet">
  <link href="https: //fonts.googleapis.com/css2? family= Varela+Ronda & display=swap" rel="stylesheet">
  <link href="https: //fonts.googleapis.com/css2? familia= Lato:wght@300;400;700 & display=swap" rel="stylesheet">


  <!-- JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script src="js/funciones.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
  <link rel="stylesheet" type="text/css" href="css/estilos.css">
</head>

<body>
  <main>
    <nav class="navbar navbar-expand-lg fixed-top" data-target=".navbar-collapse" data-toggle="collapse">
      <div class="container">
        <a href="index.html">
          <img src="imagenes/logo/logo-rubik-alternativo.png" class="logo-color img-responsive">
          <img src="imagenes/logo/logo-rubik-alternativo.png" class="logo-blanco img-responsive">
        </a>
        <button class="hamburger hamburger--slider" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">            
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="index.html"><i class="bi bi-house-door-fill icono-home"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="quienes-somos.html">Somos Rubik</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Nuestros productos <i id="flecha-menu" class="bi bi-caret-down-fill"></i>
              </a>            
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="productos.html">Indumentaria </a></li>
                <li><a class="dropdown-item" href="productos.html">Bazar</a></li>
                <li><a class="dropdown-item" href="productos.html">Regalería</a></li>
                <li><a class="dropdown-item" href="productos.html">Varios</a></li>
              </ul>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="pawik.html">¿Qué es Pawik?</a>
            </li> 
          </ul>
        </div><!-- cierra collapse  -->
        <a id="nav-contacto" class="nav-link" href="contacto.html">Contactanos</a>
      </div><!-- cierra  container-->
    </nav>

    <div class="arrow arrow--top">
      <svg xmlns="http://www.w3.org/2000/svg" width="270.11" height="649.9" overflow="visible">
        <style>
        .geo-arrow {
          fill: none;
          stroke: #fff;
          stroke-width: 2;
          stroke-miterlimit: 10;}
        </style>
        <g class="item-to bounce-1">
          <path class="geo-arrow draw-in" d="M135.06 142.564L267.995 275.5 135.06 408.434 2.125 275.499z" />
        </g>
        <circle class="geo-arrow item-to bounce-2" cx="194.65" cy="69.54" r="7.96" />
        <circle class="geo-arrow draw-in" cx="194.65" cy="39.5" r="7.96" />
        <circle class="geo-arrow item-to bounce-3" cx="194.65" cy="9.46" r="7.96" />
        <g class="geo-arrow item-to bounce-2">
          <path class="st0 draw-in" d="M181.21 619.5l13.27 27 13.27-27zM194.48 644.5v-552" />
        </g>
      </svg>
    </div><!-- cierra arrow--top -->

    <div class="arrow arrow--bottom">
      <svg xmlns="http://www.w3.org/2000/svg" width="31.35" height="649.9" overflow="visible">
        <style>
        .geo-arrow {
          fill: none;
          stroke: #fff;
          stroke-width: 2;
          stroke-miterlimit: 10;}
        </style>
        <g class="item-to bounce-1">
          <circle class="geo-arrow item-to bounce-3" cx="15.5" cy="580.36" r="7.96" />
          <circle class="geo-arrow draw-in" cx="15.5" cy="610.4" r="7.96" />
          <circle class="geo-arrow item-to bounce-2" cx="15.5" cy="640.44" r="7.96" />
          <g class="item-to bounce-2">
            <path class="geo-arrow draw-in" d="M28.94 30.4l-13.26-27-13.27 27zM15.68 5.4v552" />
          </g>
        </g>
      </svg>
    </div><!-- cierra arrow--bottom -->

    <div class="fondo-encabezado py-3">
      <div class="encabezado-contenedor">
        <div class="container">
          <div class="row">
            <div class="text-center">
              <h4><span>NUESTROS PRODUCTOS</span></h4>
            </div><!-- cierra bg--> 
          </div><!-- cierra row-->
        </div><!-- cierra container-->
        <svg xmlns="http://www.w3.org/2000/svg" class="dotted-circle" width="352" height="352" overflow="visible">
          <circle cx="176" cy="176" r="174" fill="none" stroke="#fff" stroke-width="2" stroke-miterlimit="10" stroke-dasharray="12.921,11.9271"/>
        </svg>
      </div><!-- cierra encabezado-contenedor-->
    </div><!-- cierra fondo-encabezado -->

    <div class="col-md-12 col-sm-12">
      <div id="app">                
        <div class="filtro">
          <div class="container">
            <p>FILTRAR POR:
              <select v-model="categoria" name="categoria" id="" >
                <option  id="categoria" v-for="categoria of categorias" >{{categoria}}</option>
              </select>
              <button class="btn btn-success" v-on:click="filtro() ">BUSCAR PRODUCTO</button> 
              <button class="btn btn-secondary btn-ordenprecio" @click="orden()">Ordenar por precio</button>
            </p>
          </div><!-- cierra container -->
        </div><!-- cierra filtro -->

            
<div class="container">
  <div class="row">
            <div class="col col-md-12">
<section class="lista-productos">
          <div class="container">
            <div v-for="producto of bazar" class="card" style="width:31%; float:left; margin:1% 1%">
              <div class="cuadrado-img">
                <img class="card-img-top m-0" :src="producto.foto" alt="Card image">
              </div>
              <div class="card-body">
                <p class="card-text" style="text-transform:uppercase; color:#DBDBDB; margin: 0;">{{producto.categoria}}</p>
                <h4 class="card-title">{{producto.nombre}}</h4>
                <p class="card-text">Color: {{producto.colores}}</p>
                <p class="card-text">Talle: {{producto.talles}}</p> 
                <p class="card-text" style="font-weight: 400; font-size:35px; color:#000; height: 35px; line-height: 1;">${{producto.precio}}</p>
              </div>
            </div>
          </div>
        </section>
      </div><!-- cierra app -->
    </div><!-- cierra col -->     
  </div>
  </div>
    </div>


 
   </main>
  <input type="checkbox" class="toggle-button">
    <a href="http://www.whatsapp.com" target="_blank" class="whatsapp bi bi-whatsapp"></a>
  </main>

  <script src="js/app.js"></script>

  <!-- Efecto Scroll Imagen -->
  <script>  
  $(document).ready(function() {
    $(window).on("load scroll", function() {
      var parallaxElement = $(".parallax_scroll"),
        parallaxQuantity = parallaxElement.length;
      window.requestAnimationFrame(function() {
        for (var i = 0; i < parallaxQuantity; i++) {
          var currentElement = parallaxElement.eq(i),
            windowTop = $(window).scrollTop(),
            elementTop = currentElement.offset().top,
            elementHeight = currentElement.height(),
            viewPortHeight = window.innerHeight * 0.5 - elementHeight * 0.5,
            scrolled = windowTop - elementTop + viewPortHeight;
          currentElement.css({
            transform: "translate3d(0," + scrolled * -0.15 + "px, 0)"
          });
        }
      });
    });
  });
  </script>

  <!-- Efecto Botón Día/Noche -->  
  <script>
    var toggleSwitch = document.querySelector(".toggle-button");
    function switchTheme(e) {
      if (e.target.checked) {
        document.documentElement.setAttribute("data-theme", "dark");
        /*If required*/
        document.body.classList.add("dark-mode");
        document.body.classList.remove("light-mode");
      } else {
        document.documentElement.setAttribute("data-theme", "light");
        /*If required*/
        document.main.classList.add("light-mode");
        document.body.classList.remove("dark-mode");
      }
    }
    toggleSwitch.addEventListener("change", switchTheme, false);
  </script>  

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="./js/main.js"></script>

</body>
</html>